.jumbotron
  .container
    %h1 Welcome to Evtest
    %p You can track you event attendees by creating an account or signing in above.
    %p
      %a.btn.btn-primary.btn-lg{:href => new_user_registration_path, :role => "button"} Sign up