= form_for event, html: { class: "form-horizontal", role: "form" } do |f|
  = f.hidden_field :user_id, value: current_user.id
  -if event.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(event.errors.count, "error")} prohibited this event from being saved:"

      %ul
        - event.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  %hr
  .col-lg-10.col-lg-offset-2
    %h3 Attendees
    #attendees
      = f.fields_for :attendees do |attendee|
        = render 'attendee_fields', f: attendee
      .links
        = link_to_add_association 'Add an attendee', f, :attendees, class: 'btn btn-default'
  %br
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary pull-right'
