.page-header
  = link_to new_event_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Event
  %h1 Listing events

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th
        %th
        %th

    %tbody
      - @events.each do |event|
        %tr
          %td= event.title
          %td= link_to 'Show', event
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, data: { confirm: 'Are you sure?' }, method: :delete
      - if @events.empty?
        %tr
          %td= "No Events"
          %td
          %td
          %td

= paginate @events, :theme => 'twitter-bootstrap-3'