.page-header
  = link_to events_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_event_path(@event), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show event

%dl.dl-horizontal
  %dt Title:
  %dd= @event.title
%dl.dl-horizontal
  %dt Attendees
  %dd
    = render @event.attendees
    = "No Attendees" if @event.attendees.empty?
